.snackbar-success {
  background-color: #28a745 !important; 
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
}

.snackbar-error {
  background-color: #dc3545 !important;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
}

.snackbar-warning {
  background-color: #ffc107 !important;
  color: #212529;
  font-weight: 500;
  border-radius: 4px;
}
