<div class="hero-container">
  <div class="hero-content">
    <h1 class="hero-title">HOLA USUARIO, BIENVENIDO</h1>
    <p class="hero-subtitle">
      La solución más efectiva, económica y segura para gestionar los carnets de tu organización. <br />
      Créa y gestiona fácilmente tus carnés digitales de manera eficiente y profesional.
    </p>

    <div class="hero-main">
      <!-- Izquierda -->
      <div class="hero-left">
        <p class="cta">
          ¡Únete hoy mismo y descubre cómo podemos ayudarte a llevar tu organización al siguiente nivel!
        </p>

        <div class="arrow">
          <img src="/assets/inicio/flecha-inicio.png" alt="">
        </div>

        <div class="social-icons">
          <i class="fab fa-whatsapp"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </div>

      <!-- Centro: Imagen del celular -->
      <div class="hero-phone">
        <img src="/assets/inicio/cel-inicio.png" alt="Celular" />
      </div>

      <!-- Iconos decorativos -->
      <img src="/assets/inicio/cuadro-correo.png" alt="email" class="icon icon-email" />
      <img src="/assets/inicio/cuadro-config.png" alt="config" class="icon icon-settings" />
      <img src="/assets/inicio/cuadro-response.png" alt="chat" class="icon icon-chat" />
      <img src="/assets/inicio/cuadro-message.png" alt="phone" class="icon icon-phone" />
      <img src="/assets/inicio/cuadro-tel.png" alt="qr" class="icon icon-qr" />
    </div>

    <br>
    <br>

    <div class="content-ventaja" id="que-es">
      <h1 class="ventaja-title">¿Qué es Carnet Go?</h1>

      <p class="ventaja-text">
        Es una plataforma de servicios que permite la creación, publicación, carga en dispositivo y validación del
        carnet digital,
        para este último, los usuarios autorizados por medio de la app móvil de validación QR, pueden verificar que la
        persona portadora del carnet,
        sea realmente quién dice ser.
      </p>

      <div class="ventajas">
        <div class="ventaja">
          <img src="/assets/inicio/id-azul.png" alt="Útil" />
          <h3>Útil.</h3>
          <p>Una forma efectiva y funcional de identificación personal.</p>
        </div>

        <div class="ventaja-white">
          <img src="/assets/inicio/id-transparente.png" alt="Eficaz" />
          <h3>Eficaz.</h3>
          <p>Es sencilla y confiable, mediante código QR puedes comprobar la validez del carnet.</p>
        </div>

        <div class="ventaja">
          <img src="/assets/inicio/id-azul.png" alt="Práctica" />
          <h3>Práctica.</h3>
          <p>Accede a los servicios y contenidos fácilmente desde tu móvil.</p>
        </div>

        <div class="ventaja-white">
          <img src="/assets/inicio/id-transparente.png" alt="Centralizada" />
          <h3>Centralizada.</h3>
          <p>Puedes llevar uno o varios carnets en la App Móvil.</p>
        </div>

        <div class="ventaja">
          <img src="/assets/inicio/id-azul.png" alt="Personalizada" />
          <h3>Personalizada.</h3>
          <p>Define un diseño para cada área, unidad, empresa, rol, y cámbialo con un solo clic.</p>
        </div>

        <div class="ventaja-white">
          <img src="/assets/inicio/id-transparente.png" alt="Moderna" />
          <h3>Moderna.</h3>
          <p>Ideal para ingresar al mundo digital.</p>
        </div>
      </div>
    </div>
    <div class="content-info">
      <div class="info-row">
        <div class="info-copy">
          <h1 class="info-title">Carnet Go</h1>
          <p class="info-text">
            Créa y gestiona fácilmente tus carnets, sin necesidad de preocuparte por los costos de impresión y envío.
            Además, nuestros carnés digitales son más seguros que los carnets físicos,
            ya que incluyen medidas de seguridad códigos QR dinámicos.
            Personaliza tus carnés con tu propio diseño y logotipo, y agrega información adicional como nombres, fotos,
            fechas de vencimiento y más. Además, son accesibles desde cualquier dispositivo con o sin conexión a
            internet,
            lleva tus carnés digitales consigo en todo momento. Acceder a herramientas de seguimiento y análisis que te
            permiten verificar el estado de tus carnés digitales, ver cuántos carnés se han creado y cuántos se han
            utilizado,
          </p>
        </div>

        <img class="cel-carnet" src="/assets/inicio/cel-carnet.png" alt="Celular con carnet">
      </div>
    </div>

    <div class="container-characteristics">
        <div class="characteristics-title">
            <h1>Algunas Características</h1>
        </div>
        
        <div class="characteristics-content">
            <!-- Características izquierda -->
            <div class="left-features">
                <div class="feature-card design">
                    <div class="feature-icon">
                      <img src="/assets/inicio/pincel.png" alt="">
                    </div>
                    <div class="feature-title desing">Diseño</div>
                    <div class="feature-description desing">
                        Tienes la libertad de escoger 3 plantillas, escoge tu favorita
                    </div>
                </div>
                
                <div class="feature-card">
                    <div class="feature-icon">
                        <img src="/assets/inicio/natura.png" alt="">
                    </div>
                    <div class="feature-title">Ecológico</div>
                    <div class="feature-description">
                        Aprovechamos los avances tecnológicos y así cuidar nuestro medio ambiente
                    </div>
                </div>
                
                <div class="feature-card">
                    <div class="feature-icon">
                        <img src="/assets/inicio/ojo.png" alt="">
                    </div>
                    <div class="feature-title">Seguimiento</div>
                    <div class="feature-description">
                        Se tendrá un mejor seguimiento de las acciones de todos los usuarios
                    </div>
                </div>
            </div>

            <!-- Conectores opcionales -->
            <div class="connector left"></div>
            
            <!-- Teléfono central -->
            <div class="hero-phone-char">
                <img src="/assets/inicio/cel-inicio.png" alt="Celular" />
            </div>
            
            <div class="connector right"></div>

            <!-- Características derecha -->
            <div class="right-features">
                <div class="feature-card">
                    <div class="feature-icon">
                        <img src="/assets/inicio/actualizar.png" alt="">
                    </div>
                    <div class="feature-title">Actualizaciones</div>
                    <div class="feature-description">
                        El usuario puede actualizar sus datos sin la necesidad de tener otra carnet y en tiempo real
                    </div>
                </div>
                
                <div class="feature-card">
                    <div class="feature-icon">
                        <img src="/assets/inicio/candado.png" alt="">
                    </div>
                    <div class="feature-title">Seguridad</div>
                    <div class="feature-description">
                        Es eficaz para el manejo de datos y evitar duplicados
                    </div>
                </div>
                
                <div class="feature-card">
                    <div class="feature-icon">
                        <img src="/assets/inicio/cheack.png" alt="">
                    </div>
                    <div class="feature-title">Control de acceso</div>
                    <div class="feature-description">
                        Asegúrate de que solo las personas permitidas puedan ver tu información personal
                    </div>
                </div>
            </div>
        </div>
    </div>


  </div>
</div>