<div class="dashboard-container">
  <app-header *ngIf="!ocultarHeader"
    [tipoUsuario]="tipoUsuario"
    [isMobile]="isMobile"
    [sidebarOpened]="sidebarOpened"
    (toggleMenu)="toggleSidebar()">
  </app-header>
  <!-- Drawer Container -->
  <mat-drawer-container class="drawer-container" [hasBackdrop]="isMobile">
    <mat-drawer
      #drawer
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="sidebarOpened"
      (openedChange)="onDrawerOpenedChange($event)"
      class="sidebar-drawer">

      <!-- Sidebar Component -->
      <app-sidebar (itemSelected)="onBackdropClick()"></app-sidebar>
    </mat-drawer>

    <mat-drawer-content class="main-content">
      <div class="contenedor">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<!-- Header Component -->
